* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #161210;
  color: #FFF;
  font-family: "Roboto", "Arial";
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: color 250ms;
  color: #3aa3ff;
  cursor: pointer;
}

a:hover {
  color: #ffcf01;
}

#content {
  margin-left: 60px;
  min-height: 100%;
}