@keyframes glowing {
  0% {
    box-shadow: 0 0 4px transparent;
  }
  50% {
    box-shadow: 0 0 4px #ffcf01;
  }
  100% {
    box-shadow: 0 0 4px transparent;
  }
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  height: 60px;
  background: #291f18;
  padding-right: 16px;
  display: flex;
  z-index: 999;
  align-items: center;
  box-shadow: 0 0 2px #000;
}

#title {
  height: 60px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#title:hover {
  color: #ffcf01;
}

.menubar-button {
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: #fff;
  height: 60px;
  border-top: 0 solid #291f18;
  border-bottom: 0 solid #291f18;
  transition: background-color 250ms, color 250ms, border 250ms;
}

.menubar-button:hover {
  background-color: #ffcf01;
  color: #000;
  border-top: 3px solid #ffcf01;
  border-bottom: 3px solid #ffcf01;
}

#join-discord-button {
  border-radius: 2px;
  height: 32px;
  color: #fff;
  padding: 0 16px;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-right: 32px;
  animation: glowing 4s infinite;
  transition: background-color 250ms, color 250ms;
}

#join-discord-button:hover {
  background-color: #ffcf01;
  color: #000;
}

#share-button {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-right: 1px solid #35281f;
  cursor: pointer;
}

#share-popout {
  position: absolute;
  left: 0;
  top: 60px;
  background: rgba(0, 0, 0, 0.85);
  width: 50px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
}

#share-popout::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
}

#share-popout a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg .icon {
  fill: #fff;
  transition: fill 250ms, opacity 250ms;
}

:hover>svg .icon {
  fill: #ffcf01;
}