.spinner {
  margin: 50px;
  height: 48px;
  width: 48px;
  animation: rotate .8s infinite linear;
  border: 6px solid #FFCF01;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}