meta(name="description", content="A 32x Resource Pack for Minecraft, maintained by the community.")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@DokuCraftSaga")
meta(name="twitter:title", content="Dokucraft, The Saga Continues")
meta(name="twitter:description", content="A 32x Resource Pack for Minecraft, maintained by the community.")
meta(name="twitter:image", content="http://dokucraft.aerobatic.io/resources/resource-packs/light/frontpage.png")
link(rel='icon', type='image/png', href='/resources/icons/favicon.ico')
script(data-strip) window.__aerobatic__ = {staticAssetPath: ''};