doctype html
html(lang='en')
  head
    title #{pack.name} | Dokucraft
    include /src/templates/metadata.pug
    //- Library stylesheets and scripts
    script
      include /src/libraries/jquery-3.1.1.min.js
    //- Custom stylesheets and scripts
    style
      include /dist/css/pack.css
    script dokucraft_pack_path = '#{pack.page}';
    //- Google Analytics code
    script
      include /src/scripts/ga.js
  body
    include /src/templates/menubar.pug
    #content
      #pack-header(style='background-image: url(/resources' + pack.page + '/' + pack.screenshots[pack.preview || 0] + ')')
        .overlay
        #pack-title
          h3= pack.name
          h4= pack.category
        if pack.modPage
          a.mod-link(href=pack.modPage) Visit mod page
        if pack.enablePanorama
          a#panorama-button Panorama view
          script
            include /dist/scripts/panorama-loader.min.js
      #pack-info
        h2 Downloads
        include /src/templates/downloads.pug
        h2 Installation
        i Installing <b>MCPatcher</b> or <b>Optifine</b> is optional, but recommended.
        ol
          li: p Download the pack from one of the links above.
          li: p Start Minecraft.
          li: p Go to Options -&gt; Resource Packs.
          li: p Click Open resource pack folder.
          li: p Place the pack you downloaded in this folder.
          li: p Select the pack from the Resource Packs menu.
          li: p Enjoy!
        if pack.screenshots.length > 1
          h2 Screenshots
          #screenshots
            each ss in pack.screenshots
              a.screenshot(style='background-image: url(/resources'+pack.page+'/'+ss+')', image='/resources'+pack.page+'/'+ss)
                .overlay
          script.
            function showFullscreen(path) {
              $('body').append($('<div></div>').addClass('fullscreen-blocker').append(
                $('<img></img>').addClass('fullscreen-image').attr('src', __aerobatic__.staticAssetPath + path)
              ).click(function() {
                $('.fullscreen-blocker').fadeOut(250, function() {
                  $(this).remove()
                })
              }).fadeIn(250))
            }

            $(document).ready(function() {
              $('.screenshot').click(function(e) {
                showFullscreen($(e.currentTarget).attr('image'))
              })
            })