#content {
  margin-left: 0px;
}

#pack-list {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow-y: auto;
}

#pack-list>a {
  margin-top: 2px;
  padding: 4px 0px;
  padding-left: 40px;
  display: block;
}

#pack-list>a:first-child {
  margin-top: 80px;
}

#pack-list>a:last-child {
  margin-bottom: 80px;
}

#pack-list>a:hover {
  color: #FFCF01;
}

#add-pack-button,
#save-button,
#delete-button {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  background-color: #211914;
  -webkit-transition: background 0.215s ease-in-out 0s;
  transition: background 0.215s ease-in-out 0s;
  cursor: pointer;
}

#save-button {
  left: 60px;
}

#delete-button {
  left: auto;
  right: 0px;
  z-index: 999;
  display: none;
}

#add-pack-button:hover,
#save-button:hover {
  background-color: #FFCF01;
}

#delete-button:hover {
  background-color: #C21;
}

#add-pack-icon,
#save-icon,
#delete-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -10px -10px 0 0;
  width: 20px;
  height: 20px;
  background-size: cover;
  -webkit-filter: invert(1);
  filter: invert(1);
}

#add-pack-icon {
  background-image: url('/resources/icons/add.svg');
}

#save-icon {
  background-image: url('/resources/icons/download.svg');
}

#delete-icon {
  background-image: url('/resources/icons/delete.svg');
}

#add-pack-button:hover #add-pack-icon,
#save-button:hover #save-icon,
#delete-button:hover #delete-icon {
  -webkit-filter: invert(0);
  filter: invert(0);
}

#editor {
  position: relative;
  margin-left: 290px;
  margin-right: 60px;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
}

#editor>h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #DDD;
  letter-spacing: 2px;
}

#editor i {
  margin-left: 20px;
  color: #AAA;
  font-size: 16px;
  letter-spacing: 1px;
}

#editor input[type=text] {
  box-sizing: border-box;
  margin: 8px 0px 4px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
  border: 1px solid #35281f;
  width: 100%;
  height: 24px;
  font-size: 16px;
  padding: 4px;
  letter-spacing: 1px;
}

#editor .add-download-button {
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
  padding: 8px 0px;
  display: block;
  background-color: #FFF;
  color: #000;
  width: 260px;
  text-align: center;
  -webkit-transition: background 0.215s ease-in-out 0s;
  transition: background 0.215s ease-in-out 0s;
}

#editor .add-download-button:hover {
  background-color: #FFCF01;
}

#editor .downloadable {
  position: relative;
  border: 3px dotted #35281f;
  padding: 8px;
  margin-left: 30px;
  margin-top: 20px;
  left: 0px;
  right: 0px;
}

.downloadable>h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #DDD;
  letter-spacing: 2px;
}

.downloadable>h3:first-child {
  margin-top: 4px;
}

.downloadable .remove-button {
  display: inline-block;
  float: right;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: transparent;
  background-image: url('/resources/icons/close.svg');
  -webkit-filter: invert(1);
  filter: invert(1);
  cursor: pointer;
}

.downloadable .remove-button:hover {
  background-color: #C21;
  -webkit-filter: invert(0);
  filter: invert(0);
}

#editor input:focus {
  outline: 1px solid #FFCF01;
}

#editor>*:first-child {
  margin-top: 80px;
}

#editor>*:last-child {
  margin-bottom: 80px;
}