/* Fixes jumping fixed position elements in IE 10 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    overflow: hidden;
    height: 100%;    
  }

  body {
    overflow: auto;
    height: 100%;
  }
}

/* Fixes jumping fixed position elements in Edge */
@supports (-ms-ime-align:auto) {
  html {
    overflow: hidden;
    height: 100%;    
  }

  body {
    overflow: auto;
    height: 100%;
  }
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

#content {
  margin-left: initial;
  min-height: initial;
}

.hover-to-show {
  opacity: 0;
  transition: opacity 250ms;
}

#page {
  margin-left: 60px;
}

#main-packs {
  position: relative;
  height: 600px;
  display: flex;
}

#main-packs .pack {
  position: relative;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  flex: 1 1 auto;
  background-size: 100%;
  background-attachment: fixed;
  transition: flex-grow 250ms;
}

#main-packs .pack:nth-child(1) {
  background-position: 0 -160px;
}

#main-packs .pack:nth-child(2) {
  background-position: 50% -160px;
}

#main-packs .pack:nth-child(3) {
  background-position: 100% -160px;
}

#main-packs .pack:hover {
  flex-grow: 2;
}

#main-packs .pack .cover,
#content .pack .cover {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  display: block;
  line-height: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 250ms;
}

#main-packs .pack:hover .cover,
#content .pack:hover .cover {
  background: rgba(0, 0, 0, 0.75);
}

#main-packs .pack .cover p {
  margin: 10px 20px;
  color: white;
  font-size: 22px;
  text-shadow: 2px 1px 0 rgba(0,0,0,.255);
  transition: color 250ms;
}

#main-packs .pack:hover .cover p,
#content .pack:hover .cover p{
  color: #FFCF01;
}

#main-packs .pack .cover p.sub {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#main-packs .pack .cover p.version {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  font-size: 16px;
  text-align: right;
  line-height: 1.3;
}

#main-packs .pack:hover .hover-to-show {
  opacity: 1;
}

#content {
  min-height: 200px;
  color: #fff;
  padding: 0 40px;
}

#content h2 {
  margin: 40px 0 20px 0;
  text-transform: uppercase;
  text-shadow: 2px 1px 0 rgba(0,0,0,.255);
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 350;
  cursor: default;
}

#content h2:first-of-type {
  margin: 20px 0;
}

#content .highlight {
  color: #FFCF01;
}

#content .pack {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 260px;
  cursor: pointer;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#content .tab-content .pack {
  margin: 0 4px;
  flex: 1 1 400px;
}

#content .tab-content .pack:nth-child(n+5) {
  display: none;
}

#content .pack .cover {
  line-height: 0.9;
}

#content .pack .cover p {
  margin: 10px 20px;
  color: white;
  font-size: 18px;
  text-shadow: 2px 1px 0 rgba(0,0,0,.255);
  transition: color 250ms, font-size 250ms;
}

#content .pack .cover p.sub {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#content .pack .cover p.version {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  font-size: 16px;
  text-align: right;
  line-height: 1.3;
}

.paged-showcase {
  display: flex;
}

.page-button {
  display: inline-block;
  width: 48px;
  height: 200px;
  margin-top: 70px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.page-button svg {
  width: 48px;
  height: 100%;
}

.page-button path {
  fill: rgba(255,255,255,0.2);
}

.page-button.active path {
  fill: #fff;
  transition: fill 250ms;
}

.page-button.active:hover path {fill: #FFCF01;}

.next.page-button {
  background: linear-gradient(to right, transparent, #291f18);
  order: 3;
}

.prev.page-button {
  background: linear-gradient(to left, transparent, #291f18);
  order: 1;
}

.tabs-wrapper {
  display: inline-block;
  order: 2;
  width: calc(100% - 96px);
}

.tabs-wrapper,
#all-packs {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tab-content {
  display: none;
  padding: 12px 8px;
  background: #291f18;
  overflow: hidden;
  white-space: nowrap;
  min-height: 260px;
}

.tab-content.default-tab {
  display: flex;
}

ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.tabs li {float: left;}

ul.tabs li a {
  display: inline-block;
  text-align: center;
  padding: 4px 12px;
  text-decoration: none;
  transition: 250ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

ul.tabs li a:hover,
ul.tabs li a:focus, .active {
  background-color: #291f18;
  color: #FFCF01;
}

#all-packs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #291f18;
  margin: 20px 0;
  padding: 8px;
  min-height: 200px;
}

#all-packs .pack {
  height: 200px;
  flex: 0.5 1 330px;
  margin: 4px;
}

#all-packs .pack .cover {
  height: 60px;
}

#search-container {
  display: inline-block;
  float: right;
  padding: 4px 12px 8px 12px;
}

#search-box {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none!important;
  background: transparent;
  width: 280px;
  color: #fff;
  font-size: 16px;
  padding-bottom: 2px;
  transition: border-color 250ms;
}

#search-box:focus {
  border-color: #FFCF01;
}

#search-box::-webkit-input-placeholder {
  color: #FFCF01;
}

#search-box:-moz-placeholder {
  color: #FFCF01;
}

#search-box::-moz-placeholder {
  color: #FFCF01;
  opacity: 1;
}

#search-box:-ms-input-placeholder {
  color: #FFCF01;
}

#search-icon {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 2px;
}

#search-icon>* {
  display: block;
  margin: auto;
}

#search-icon path {
  fill: #fff;
}

#no-results-hint {
  position: relative;
  display: none;
  height: 200px;
  flex: 1 1 400px;
}

#no-results-hint * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-container {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Fixes for smaller screens */
@media only screen and (max-width: 1800px) {
  
  #main-packs {
    max-height: 38vw;
  }
  
  #main-packs .hover-to-show {
    opacity: 0!important;
  }

  #main-packs .pack:nth-child(1) {
    background-position: 0 0!important;
  }

  #main-packs .pack:nth-child(2) {
    background-position: 50% 0!important;
  }

  #main-packs .pack:nth-child(3) {
    background-position: 100% 0!important;
  }
  
}

@media only screen and (max-width: 1080px) {

  #main-packs .pack {
    flex-grow: 1!important;
  }
  
}