.menubar {
  -webkit-transition: left 0.215s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: left 0.215s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

#menu {
  position: fixed;
  top: 0px;
  left: -300px;
  z-index: 999;
  width: 300px;
  height: 100%;
  background: #211914;
}

#menu>ul {
  margin-top: 60px;
  width: 100%;
}

#menu li {
  height: 40px;
  font-size: 16px;
  width: 100%;
}

#menu li>a {
  display: inline-block;
  color: #FFF;
  padding: 10px 30px 10px 40px;
  width: 230px;
}

#menu li>a:hover {
  color: #FFCF01;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 100%;
  background: #291f18;
  display: inline-block;
  z-index: 999;
}

#title {
  position: absolute;
  top: 50%;
  color: #FFFFFF;
  width: 200px;
  height: 60px;
  margin-top: 100px;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
}

#title:hover {
  color: #FFCF01;
}

#menu-button {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #35281f;
  cursor: pointer;
  -webkit-transition: background 0.215s;
  transition: background 0.215s;
}

#header.menubarIsOpen #menu-button {
  background: #FFCF01;
}

#open-menu-blocker {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

#share-button {
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  border-top: 1px solid #35281f;
  bottom: 0;
  cursor: pointer;
}

#share-popout {
  position: absolute;
  bottom: 0;
  left: 60px;
  background: rgba(0, 0, 0, 0.85);
  width: 120px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: center;
}

#share-popout::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;
}

#share-popout a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg .icon {
  fill: #fff;
  transition: fill 250ms, opacity 250ms;
}

:hover>svg .icon {
  fill: #FFCF01;
}

#menu-button .close-icon .icon {
  opacity: 0;
  fill: #000;
}

#header.menubarIsOpen #menu-button .menu-icon .icon {
  opacity: 0;
}

#header.menubarIsOpen #menu-button .close-icon .icon {
  opacity: 1;
}