#content {
  position: absolute;
  width: calc(100% - 60px);
  margin-left: 60px;
  min-height: 100%;
}

#pack-header {
  position: relative;
  width: 100%;
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  overflow-y: hidden;
}

.overlay {
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  transition: opacity 250ms;
}

#pack-title {
  position: relative;
  top: -350px;
  text-align: center;
  width: 100%;
  height: 50px;
}

#pack-title>* {
  color: #FFF;
  font-size: 38px;
  letter-spacing: 4px;
  font-weight: 400;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.255);
  line-height: 2;
}

#pack-title>h4 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 500;
  line-height: 1;
}

#pack-info {
  padding-top: 20px;
}

#pack-info h2 {
  text-transform: uppercase;
  color: #FFF;
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: 400;
  line-height: 2;
  margin-left: 30px;
  cursor: default;
}

#pack-info>i {
  color: #AAA;
  font-size: 16px;
  margin-left: 60px;
  letter-spacing: 1px;
}

#pack-info i>b {
  color: #CCC;
}

#pack-info p {
  color: #CCC;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px 40px 60px;
}

#pack-info ol {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 60px;
}

#pack-info li {
  color: #AAA;
  font-size: 16px;
  font-weight: 400;
}

#pack-info li>p {
  margin: 0px;
  color: #CCC;
}

#pack-header #panorama-button,
#pack-header .mod-link {
  position: absolute;
  display: block;
  bottom: 40px;
  padding: 10px;
  background: #FFF;
  color: #000;
  font-size: 20px;
  width: 240px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background 0.215s ease-in-out 0s;
  transition: background 0.215s ease-in-out 0s;
}

#pack-header #panorama-button {
  right: 0px;
}

#pack-header .mod-link {
  left: 0px;
}

#pack-header #panorama-button:hover,
#pack-header .mod-link:hover {
  background: #FFCF01;
}

#screenshots {
  margin: 30px 45px 60px 45px;
  text-align: center;
}

#screenshots .screenshot {
  display: inline-block;
  border: 2px solid #FAFAFA;
  width: 248px;
  height: 138px;
  margin: 15px;
  background-color: #FAFAFA;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: border 250ms;
  cursor: zoom-in;
}

#screenshots .screenshot:hover {
  border: 2px solid #FFCF01;
}

#screenshots .screenshot:hover .overlay {
  opacity: 0;
}

#panorama-viewer {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  border: none;
  transform: rotate(0deg);
  z-index: 9999;
}

.downloads-section {
  margin-left: 45px;
  width: calc(100% - 90px);
}

.download-wrapper {
  display: inline-block;
  position: relative;
  margin: 15px;
  background-color: white;
  width: 300px;
  height: 70px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

.download-wrapper .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 59px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.download-wrapper:hover .left {
  background-color: #FFCF01;
}

.download-wrapper .left .icon-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 12px;
}

.download-wrapper .left .icon {
  width: 24px;
  height: 24px;
}

.download-wrapper .left .size {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
}

.download-wrapper .right {
  position: absolute;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
  height: 100%;
}

.download-wrapper .right .top {
  height: calc(100% - 24px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.download-wrapper .right .bottom {
  height: 24px;
}

.download-wrapper .right .title {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.5px;
}

.download-wrapper .right .tag {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.8px;
  padding: 4px 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.download-wrapper .right .tag:last-of-type {
  border-bottom-left-radius: 3px;
}

.download-wrapper .right .count {
  position: absolute;
  right: 4px;
  bottom: 26px;
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
}

.download-wrapper .right .last-update {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.56);
}

.download-wrapper .mirror {
  position: absolute;
  left: 68px;
  bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  cursor: pointer;
}

.download-wrapper .mirror:hover {
  text-decoration: underline;
}

.fullscreen-blocker {
  z-index: 9999;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: zoom-out;
}

.fullscreen-image {
  display: block;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 60px);
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #FFF;
}