h2 Installation Guide
p
  | If you have already set up Minecraft Dungeons for modding, just drop the file into your ~mods folder. If you haven't, 
  a(href='https://stash.dokucraft.co.uk/?help=modding-dungeons') click here for a guide on modding the game.