h2 Installation
i Installing <b>MCPatcher</b> or <b>Optifine</b> is optional, but recommended.
ol
  li: p Download the pack from one of the links above.
  li: p Start Minecraft.
  li: p Go to Options -&gt; Resource Packs.
  li: p Click Open resource pack folder.
  li: p Place the pack you downloaded in this folder.
  li: p Select the pack from the Resource Packs menu.
  li: p Enjoy!