h2 Installing on Bedrock Edition
ol
  li: p Download the pack from one of the links above.
  li: p Double click the pack. This should start the game if it wasn't already running.
  li: p Go to Settings -&gt; Global Resources.
  li: p Click the pack in the list on the right and then click the button with the plus sign.
  li: p Enjoy!
//-p: i
  | To install the pack on 
  b Xbox
  | , follow 
  a(href='https://stash.dokucraft.co.uk/?help=xbox-installation') these instructions.
p: i
  | The pack is not available on platforms that require the pack to be distributed through the in-game marketplace. 
  a(href='https://stash.dokucraft.co.uk/?help=in-game-store-issues') Click here for more info.