#header.menubar
  a#title(href='/') Dokucraft
  .filler
  a.menubar-glow-button(href='https://docs.google.com/spreadsheets/d/1UtkLBmPryfgEeA8TLUGCCZaw_6AzkdfZlJkEAfxpT4M/edit?usp=sharing') 1.12 Update Status
  a.menubar-glow-button(href='https://discord.gg/jjg59ce') Join our Discord!
  each item in menu
    a.menubar-button(href=item.link)= item.text
  #share-button.menubar-button(onclick='toggleShareIcons()')
    include /src/resources/icons/share.svg
  #share-popout(style='display:none')
    a#twitter-button(title='Twitter', href='https://twitter.com/DokuCraftSaga')
      include /src/resources/icons/twitter.svg
    a#fb-button(title='Facebook', href='https://www.facebook.com/Dokucraftsaga/')
      include /src/resources/icons/facebook.svg
script
  include /dist/scripts/menubar.min.js