doctype html
html(lang='en')
  head
    title Redirecting | Dokucraft
    meta(http-equiv='refresh' content='0;URL=\'' + redirectTo + '\'')
  body
    p Redirecting...
    p If you're not redirected within 5 seconds, 
      a(href=redirectTo) click here
      | .