@font-face {
  font-family: VolterGoldfish;
  src: url(Volter__28Goldfish_29.ttf);
}

#content {
  position: absolute;
  overflow: hidden;
  margin-left: 60px;
  width: calc(100% - 60px);
  height: 100%;
  background: url(dirt.png) repeat;
  animation: 20s backgroundScroll linear infinite;
}

#vignette {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.9));
}

#fading-box {
  width: 100%;
  height: 100%;
  background: black;
  z-index: 999;
  animation: 5s fadeIn linear 1;
  animation-fill-mode: forwards;
}

#scrolling-text {
  font-family: VolterGoldfish;
  position: absolute;
  width: 720px;
  left: 50%;
  margin-left: -360px;
  animation: 140s credits linear infinite;
}

#scrolling-text p {
  display: block;
  position: relative;
  left: 0px;
  right: 0px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.5;
  color: #009696;
  text-shadow: 2px 2px #002525;
  cursor: default;
}

#scrolling-text p>b {
  font-weight: normal;
  color: #009b00;
  text-shadow: 2px 2px #002500;
}

#logo {
  background: url(title.png);
  width: 100%;
  height: 90px;
  margin-top: 100px;
  margin-bottom: 50% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@keyframes backgroundScroll {
  0% { background-position: 0 0; }
  100% { background-position: 0 -256px; }
}

@keyframes fadeIn {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes credits {
  0% { top: 100%; }
  100% { top: -400%; }
}