#content {
  position: absolute;
  margin-left: 60px;
  width: calc(100% - 60px);
  min-height: 100%;
  text-align: center;
}

#content h2 {
  margin-top: 100px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  font-weight: 400;
}

#drop {
  display: inline-block;
  border: 1px solid white;
  margin: 30px;
  padding: 100px 200px;
  cursor: default;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
  transition: border-color 0.215s ease-in-out 0s;
}

#drop.error {
  border-color: #FF1010;
  background-color: rgba(255, 0, 0, 0.25);
}

.dnd-dragover #drop {
  border-color: #FFCF01;
}

#drop a {
  font-weight: bold;
  color: white;
  transition: color 0.215s ease-in-out 0s;
}

#drop a:hover {
  color: #FFCF01;
}

#submit-button {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 16px;
  font-size: 20px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  transition: background 0.215s ease-in-out 0s;
}

#submit-button:hover {
  background-color: #FFCF01;
}

input[type=text] {
  background-color: transparent;
  border: 1px solid white;
  padding: 4px 8px;
  color: white;
  font-size: 16px;
  transition: border-color 0.215s ease-in-out 0s, background-color 0.215s ease-in-out 0s;
}

input[type=text].error {
  border-color: #FF1010;
  background-color: rgba(255, 0, 0, 0.25);
}

input[type=text]:focus {
  outline: none;
  border-color: #FFCF01;
}

#status-text {
  margin-top: 20px;
}