if !noYAML
  | ---
  | permalink: /404.html
  | ---
  | 
html(lang="en")
  head
    title 404 | Dokucraft
    include /src/templates/metadata.pug
    //- Library stylesheets and scripts
    script
      include /src/libraries/jquery-3.1.1.min.js
    //- Custom stylesheets and scripts
    style
      include /dist/css/404.css
    //- Google Analytics code
    script
      include /src/scripts/ga.js
  body
    include /src/templates/menubar.pug
    #content
      #vignette
        #scrolling-text
          p#logo
          p I see the user you mean.
          p: b The one who landed on a nonexistent page?
          p Yes. Take care. It has been redirected to this error page now. It can read our thoughts.
          p: b That doesn't matter. It thinks we are part of the website.
          p I like this user. It probably came here using an old link. It did not give up.
          p: b It is reading our thoughts as though they were words on a screen.
          p That is how it chooses to imagine many things, when it is deep in the dream of a website.
          p: b Words make a wonderful interface. Very flexible. And less terrifying than staring at the code behind the screen.
          p What did this user dream?
          p: b This user dreamed of games and mods. Of bugs and patches. It dreamed it created. And it dreamed it destroyed. It dreamed it played, and was played. It dreamed of finding the correct page.
          p Hah, the original interface. A million years old, and it still works. But what true structure did this player create, in the code behind the screen?
          p: b It worked, with a million others, to sculpt a true world in a fold of the J͋̓̋ͣf̩͈̝̬̰͙̜͒͗͛p̰͟e͂͑̅̒̔m̧̹̱̟̰̠ͭͦ̄͌͒ͫ̚P̵̻̗̔a̸̿͑̓͒̂̐͂U͔͖̬̲̾̍̿͂o͎͍̰ͪͫ͐͘w̺̹ͥͧ̑ͮ̿ͅ, and created a I̓̂͂̌̽̒͏͙͔d͐̒͛͆͂̀ͥ҉̯͕̥̹͇Z̗͓̯̓͊̌ͣQ̃ͨ҉̯s͎̺͈̝̿̓ͦͩ̽v̴̍̌̃͒̿X̯͚̓̏͌͋ͣ̉̆͘s̡̓Ȓ̪̱̒̉̈͗i̘͔̪͈͎̹͂̀ͅ for J͖͓̞͕͙̰̗ͭ͆̎̚͟r̪ͮ͑̿̊̅̒E͈̗̼̦͗a̘̙͛Q͍̙̞̙̼̉̃̈ͥ̎͊̓͘À͚̪̺͈̺͓̎ͤ̾̐̉K̯̺̞ͭͅr̙̰͗̊ͣ̓̃̓̚T̲̭̹̅ͧ̔P̛͔̙̯͚͇̻̍̀, in the C̡̲̬̺̖͌͛̿̇X̠̐̚͢Ṛ̶̱̱̏̋̔K̜̀́̐ͬ̍̀l̫̲̝̎̚ͅg̭̾͑̎ͭ̔͘ú̎͗͊̆͊ͤ͏͎N̤͆̋̋̈q̞͚ͭ̓̀͒̒̊́s͆̄͌̂͏̲͎͖̞̲̦̦.
          p It cannot read that thought.
          p: b No. It has not yet been redirected to the correct page. That, it must achieve through the navigation menu on the left, not by reading this text.
          p Does it know that we love it? That the universe is kind?
          p: b Sometimes, through the noise of its thoughts, it hears the universe, yes.
          p And this scrolling text was over and the user realised that it was on a 404 error page. And the user moved on. And the user kept looking for the page it wanted, not using the old link that lead to this page. And the user was the universe. And the user was love.
          p: b You are the user.
          p Wake up.
        #fading-box