doctype html
html(lang="en")
  head
    title About | Dokucraft
    include /src/templates/metadata.pug
    //- Library stylesheets and scripts
    script: include /src/libraries/jquery-3.1.1.min.js
    //- Custom stylesheets and scripts
    style: include /dist/css/info.css
    //- Google Analytics code
    script: include /src/scripts/ga.js
  body
    include /src/templates/menubar.pug
    #content
      h2 About
      p Dokucraft: The Saga Continues is the official, community-driven continuation project for Dokucraft, the 32x texture pack for Minecraft, made by doku.
      h2 History
      p Some time before Minecraft Beta 1.8 was released, doku stopped working on Dokucraft and made all assets free to use for other texture packs. To stop the community from splitting up and creating different continuations, HickeryDickery created Dokucraft: The Saga Continues and explained that anyone can contribute to the project. Since then hundreds of contributors have together created thousands of textures and kept the pack updated for almost five years.
      h2 Want to help?
      p Anyone can contribute to the project. That also includes you. Even if you don't know how to create textures or other assets needed for the pack, there are community members willing to help you learn how. If you are interested, just leave a comment in our <a href="http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/1232237-dokucraft-the-saga-continues">forum thread</a>. If you are not sure if a texture you have made is good enough, post it in the thread and ask for feedback. Someone will hopefully take a good look at it and tell you what needs to be done. Remember to always be open to criticism, it will help you improve.