doctype html
html(lang="en")
  head
    title About | Dokucraft
    include /src/templates/metadata.pug
    //- Library stylesheets and scripts
    script: include /src/libraries/jquery-3.1.1.min.js
    //- Custom stylesheets and scripts
    style: include /dist/css/info.css
    //- Google Analytics code
    script: include /src/scripts/ga.js
  body
    include /src/templates/menubar.pug
    #content
      h2 About
      p Dokucraft: The Saga Continues is the official, community-driven continuation project for Dokucraft, the 32x texture pack for Minecraft, made by doku.
      h2 History
      p Some time before Minecraft Beta 1.8 was released, doku stopped working on Dokucraft and made all assets free to use for other texture packs. To stop the community from splitting up and creating different continuations, HickeryDickery created Dokucraft: The Saga Continues and explained that anyone can contribute to the project. Since then hundreds of contributors have together created thousands of textures and kept the pack updated for over seven years.
      h2 Want to help?
      p Anyone can contribute to the project. That includes you. Even if you don't know how to create textures or other assets needed for the pack, there are community members willing to help you learn how. We also have a <a href="https://docs.google.com/document/d/1HsC6ut8ytQOQLyM17X6f2AHH0pDHCv23YSxav9odIm4/view">quick start guide</a> to get you going with resource pack editing. Feel free to ask us any questions on <a href="https://discord.gg/jjg59ce">Discord</a>. If you are not sure if a texture you have made is good enough, post it in the appropriate Discord channel and ask for feedback. Someone will hopefully take a good look at it and help you make it better. Remember to always be open to criticism, it will help you improve.
      br
      p If you don't know what to work on, you can always check our <a href="https://dokucraft.co.uk/stash/?status">update status page</a> or ask on Discord. If you want to find textures posted by others, check out <a href="https://dokucraft.co.uk/stash/">DokuStash</a>.